<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="cards/assets/styles.css" />
    </head>
    <body>
        <h1>{{ page.title }}</h1>
        <ul>
            <li><strong>Artist:</strong> {{ page.artist }}</li>
            <li><strong>Year:</strong> {{ page.year }}</li>
            <li><strong>Location:</strong> {{ page.location }}</li>
            <li><strong>Type:</strong> {{ page.type }}</li>
            <li><strong>Format:</strong> {{ page.format }}</li>
            <li>
                <strong>Related Cards:</strong>
                <ul>
                    {% for card in page.related_cards %}
                    <li>{{ card }}</li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
        <p>{{ content }}</p>
    </body>
</html>
